div {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Abril Fatface',;
  color:#222 grey;
}
img {
  width: 1200px;
}
h3 {
  position: absolute;
  top: 230px;
  margin-left: 300px;
  font-size: 30px;
}
h1 {
  position: absolute;
  top: 250px;
  margin-left: 300px;
  font-size: 60px;
}
main {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Josefin Sans', sans-serif;
  color: #222 grey;
  font-size: 17px;
  line-height: 150%;
}
blockquote p {
    background: #222;
    border-radius: 5px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Abril Fatface', cursive;
    color:  white;
    font-size: 35px;
    border-radius: 0px;
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
blockquote p::before {
    content: open-quote;
    font-size: 80px;
    position: absolute;
    top: -20px;
    left:0px;
}